@import './variable';

body{
    -webkit-font-smoothing:antialiased;
    color:$dark;
   
}

.logo{
    height: 50%;
    width: 50%;
}

nav li:last-child a{
    background: $primary;

}

nav li a{
   
    &:hover{
        color: $primary;
    }
}

nav li:last-child a {
    background: $primary;
    &:hover{
        background: $primary-hover;
    }
}



section.hero{
    background: $secondry;
}

.size{
    background: $secondry;
}

.add-to-cart{
    border: 2px solid $primary;
    color:$primary;

    &:hover{
        background: $primary;
        border-color: $pure ;
        color: $pure ;
    }
}

.btn-primary{
    background: $primary;

    &:hover{
        background: $primary-hover;
    }

}

section.cart{
    background: $secondry;
    .amount{
        color:$primary
    }
}
.password{
    margin-top: 8px;
}

section.login{
    background: $secondry;
    min-height: calc(100vh - 86px);

    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }
}